<!-- main/templates/main/article_detail.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Article Detail{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'detail.css' %}">

</head>
<body>
    
    <h1>{{ article.title }}</h1>
    <p>Publication Date: {{ article.publication_date }}</p>
    <p>{{ article.content }}</p>

   

    <!-- Ajoutez un lien vers la liste des articles -->
    <a href="{% url 'article_list' %}">Retour à la liste des articles</a>
</body>
</html>
