/* main/static/main/style/chatbot.css */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2 {
    font-weight: 700;
    color: #444;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    margin-bottom: 7px;
}

p {
    margin-bottom: 10px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0077cc;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #005999;
}